<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/person/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <label for="yearsOfBirth">Enter year: </label>
    <input type="text" th:field="*{yearsOfBirth}" id="yearsOfBirth"/>
    <div style="color:red" th:if="${#fields.hasErrors('yearsOfBirth')}" th:errors="*{yearsOfBirth}">year Error</div>
    <br/>
    <label for="phoneNumber">Enter phone number: </label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber"/>
    <div style="color:red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Email Error</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>
</body>
</html>