<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:text="${'id : ' +  person.getId()}">VALUE</p>
<p th:text="${'Name : ' + person.getName() + ', year : ' + person.getYearsOfBirth()}">VALUE</p>
<p th:text="${'Phone number : ' + person.getPhoneNumber()}">VALUE</p>

<a th:href="@{/person/{id}/edit(id=${person.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/person/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>